* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(background.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    margin-block: 13%;
}

#calculadora {
    background-color: white;
    padding: 1.5%;
    padding-inline: 2%;
    border-radius: 2%;
    width: 15%;
}

button {
    background-color: hotpink;
    border: 0;
    padding: 4%;
    border-radius: 5px;
    font-size: larger;
    width: 100%;
}

button:hover{
    color: white;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s;
    cursor: none;
}

.centralizar {
    text-align: center;
}

form div {
    margin-block: 2%;
}

h2 {
    font-size: 30px;
}

label {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

input {
    height: 4vmin;
    width: 100%;
    margin-top: 3%;
    font-size: large;
}

#operacao {
    height: 4vmin;
    font-size: large;
    width: 100%;
}

#resultado {
    display: flex;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}

#mostrarResultado {
    font-weight: bold;
    margin-left: 5%;
    font-size: larger;
}